h1 About me

p I have always been interested in how things work and see myself as a problem
  solver.
  My two main passions are parenthood and life long learning.

p I am a P-10 qualified teacher that enjoys sharing learning to maximise
  growth.
  I majored in Maths and Science. I am presently volunteering for
  the local Sunshine Coast Coding Dojo Club.
